Options +Indexes
ReadmeName /appletv/medex.htm
#RewriteEngine on
#RewriteBase /
#RewriteRule ^(.*\.mkv)$ /cgi-bin/mplay.py?/shares/Media/$1 [R,NC]
#RewriteRule ^(.*\.mkv).(q.)$ /cgi-bin/mplay.py?/shares/Media/$1&$2 [R,NC]
